NEXT_PUBLIC_SUPABASE_URL=https://grddhdlnivkprfhghkgo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdyZGRoZGxuaXZrcHJmaGdoa2dvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0MTA2NzMsImV4cCI6MjA5Nzk4NjY3M30.3894r6JPoaWH8tvMoqQCT4jR_Z7M3c3HZ99-wS5OP4k